@page "/todo"
@inject ToDoVM VM
<h3>ToDo</h3>
<div class="Container">

    <div class="row">

        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="suche" @bind="eingabe" @bind:event="oninput">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="bi bi-search"></i> Button
                </button>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col">


            <ul class="list-group">
                <li class="list-group-item  active">
                    todo
                </li>
                @foreach (var item in VM.ToDo.todos.Where(x=>x.todo.Contains(eingabe, StringComparison.CurrentCultureIgnoreCase)))
                {

                    <li class='list-group-item list-group-item-action @(item.completed ? "list-group-item-dark" : "")'>
                        @item.todo
                    </li>
                }

            </ul>
        </div>
    </div>

</div>
@code {
    string eingabe = string.Empty;
}
