@page "/js"
@inject IJSRuntime jsRuntime
<h3>Js</h3>
<script>
    // This is a simple JavaScript function that can be used in the Blazor application.
   
        // alert("message");
        // var r=confirm("Do you want to continue?");
        // var s = prompt("Please enter your name:", "Harry Potter");
        // document.title="Hannes wunderbare welt";
        // navigator.clipboard.writeText(s);

        // window.ppedv=function()
        // {
        //                 alert("Hello from JavaScript!");
        // };
        // window.ppedv();
        
</script>
@wert
<button @onclick="clickAsync">js</button>
@code {
    string wert;
    async Task clickAsync()
    {
        //jsRuntime.InvokeVoidAsync("alert", "Hallo Welt");
       wert= await jsRuntime.InvokeAsync<string>("prompt", "titlezeile", "wert");
        jsRuntime.InvokeVoidAsync("eval", "document.title='Servas!'");
    }
}
