@page "/repeater"
@using Models
@inject NorthwindContext db
<h3>UseRepeater</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            
        </tr>
    </thead>
    <tbody>
        <Repeater ModelType="Customer" Context="item" SelectMethod="GetCustomers">
            <ItemTemplate>
                <tr>
                    <td>@item.CustomerId</td>
                    <td>@item.CompanyName</td>
                </tr>
            </ItemTemplate>
            <EmptyItemTemplate>
                <tr>
                    <td colspan="2">Keine Daten vorhanden</td>
                </tr>
            </EmptyItemTemplate>

        </Repeater>
    </tbody>
</table>

@code {
    List<Customer> GetCustomers()
    {
        return db.Customers.ToList();
    }
}
